.app-product {

  background: rgb(248, 246, 246);
  display: block;
  padding: 1rem;
  margin: 2rem 0;
  overflow: hidden;
  color: lightgray;
}
.app-product button {

  float: left;
  margin-right: 1rem;
}
.app-product:hover {
  color: black;
  background: rgb(248, 223, 223);
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/